In [97]:
import pandas as pd
import unicodedata

In [98]:
def remove_diacritics(input_string):
    return ''.join(char for char in unicodedata.normalize('NFD', input_string) if unicodedata.category(char) != 'Mn')
def to_uppercase(input_string):
    return input_string.upper()

In [99]:
df = pd.read_excel(r"D:\Data\ticket.xlsx") #replace this path into your path which lead to ticket
df

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn
0,10006052019B0225,emp002,2019-05-06 16:40:43,90000.0,0000000014,20074925,2019-05-06,18:15:00,G04,3,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không
1,10006052019B0225,emp002,2019-05-06 16:40:43,90000.0,0000000014,20074924,2019-05-06,18:15:00,G03,3,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không
2,10022052019B0167,emp011,2019-05-22 20:30:28,90000.0,0000000034,20097042,2019-05-22,20:45:00,E04,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,Không
3,10022052019B0167,emp011,2019-05-22 20:30:28,90000.0,0000000034,20097041,2019-05-22,20:45:00,E03,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,Không
4,10130052019B0141,emp005,2019-05-30 19:28:44,90000.0,0000000034,20106761,2019-05-30,19:30:00,F04,1,NGÔI ĐỀN KỲ QUÁI (C18),ĐƠN,Thành viên,45000,Không
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35469,10130052019B0192,emp005,2019-05-30 21:49:46,180000.0,WEBS00000044909,20107072,2019-05-30,21:35:00,B10,4,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ (C13),ĐƠN,Thành viên,45000,Không
35470,10130052019B0192,emp005,2019-05-30 21:49:46,180000.0,WEBS00000044909,20107071,2019-05-30,21:35:00,B09,4,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ (C13),ĐƠN,Thành viên,45000,Không
35471,10130052019B0192,emp005,2019-05-30 21:49:46,180000.0,WEBS00000044909,20107069,2019-05-30,21:35:00,B07,4,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ (C13),ĐƠN,Thành viên,45000,Không
35472,12508052019B0036,emp007,2019-05-08 19:26:47,90000.0,WEBS00000046015,20077797,2019-05-08,19:15:00,C14,4,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không
35473,12508052019B0036,emp007,2019-05-08 19:26:47,90000.0,WEBS00000046015,20077796,2019-05-08,19:15:00,C13,4,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không

In [100]:
df.describe()

,saledate,total,ticketcode,date,room,ticket price
count,35378,3.537800e+04,3.547400e+04,35474,35474.000000,35474.000000
mean,2019-05-16 21:37:31.279156480,1.627623e+05,2.008919e+07,2019-05-16 05:55:52.787957248,2.572645,47519.591814
min,2019-05-01 07:05:53,0.000000e+00,2.006840e+07,2019-05-01 00:00:00,1.000000,0.000000
25%,2019-05-09 20:04:42.249999872,9.000000e+04,2.007942e+07,2019-05-09 00:00:00,2.000000,45000.000000
50%,2019-05-16 12:25:40,9.000000e+04,2.008918e+07,2019-05-16 00:00:00,3.000000,45000.000000
75%,2019-05-24 17:09:30,1.800000e+05,2.009896e+07,2019-05-24 00:00:00,4.000000,45000.000000
max,2019-05-31 23:05:18,1.935000e+06,2.010888e+07,2019-05-31 00:00:00,4.000000,160000.000000
std,NaN,1.503604e+05,1.132877e+04,NaN,1.126249,10167.041254

In [101]:
df.isnull().any()

orderid          True
cashier         False
saledate         True
total            True
customerid      False
ticketcode      False
date            False
time            False
slot            False
room            False
film            False
slot type       False
ticket type     False
ticket price    False
popcorn          True
dtype: bool

In [102]:
df[df["orderid"].isna()==1]

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn
23,NaN,Website,NaT,NaN,0000000228,20100926,2019-05-25,19:45:00,G09,3,ALADDIN (PD) (G),ĐƠN,Thành viên,45000,NaN
24,NaN,Website,NaT,NaN,0000000228,20100927,2019-05-25,19:45:00,G10,3,ALADDIN (PD) (G),ĐƠN,Thành viên,45000,NaN
580,NaN,Website,NaT,NaN,0000011318,20092413,2019-05-18,18:40:00,G09,1,POKÉMON: THÁM TỬ PIKACHU (C13),ĐƠN,Thành viên,45000,NaN
581,NaN,Website,NaT,NaN,0000011318,20092412,2019-05-18,18:40:00,G08,1,POKÉMON: THÁM TỬ PIKACHU (C13),ĐƠN,Thành viên,45000,NaN
582,NaN,Website,NaT,NaN,0000011318,20092411,2019-05-18,18:40:00,G07,1,POKÉMON: THÁM TỬ PIKACHU (C13),ĐƠN,Thành viên,45000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23102,NaN,Website,NaT,NaN,0003008617,20106999,2019-05-30,21:35:00,H09,4,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ (C13),ĐƠN,Thành viên,45000,NaN
23103,NaN,Website,NaT,NaN,0003008617,20106998,2019-05-30,21:35:00,H08,4,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ (C13),ĐƠN,Thành viên,45000,NaN
23106,NaN,Website,NaT,NaN,0003008617,20091106,2019-05-17,20:15:00,F14,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,NaN
23107,NaN,Website,NaT,NaN,0003008617,20091105,2019-05-17,20:15:00,F13,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,NaN
23108,NaN,Website,NaT,NaN,0003008617,20091107,2019-05-17,20:15:00,F15,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,NaN

In [103]:
for x in df[df["orderid"].isna()==1].index:
    df.drop(x, inplace=True)
df

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn
0,10006052019B0225,emp002,2019-05-06 16:40:43,90000.0,0000000014,20074925,2019-05-06,18:15:00,G04,3,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không
1,10006052019B0225,emp002,2019-05-06 16:40:43,90000.0,0000000014,20074924,2019-05-06,18:15:00,G03,3,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không
2,10022052019B0167,emp011,2019-05-22 20:30:28,90000.0,0000000034,20097042,2019-05-22,20:45:00,E04,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,Không
3,10022052019B0167,emp011,2019-05-22 20:30:28,90000.0,0000000034,20097041,2019-05-22,20:45:00,E03,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,Không
4,10130052019B0141,emp005,2019-05-30 19:28:44,90000.0,0000000034,20106761,2019-05-30,19:30:00,F04,1,NGÔI ĐỀN KỲ QUÁI (C18),ĐƠN,Thành viên,45000,Không
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35469,10130052019B0192,emp005,2019-05-30 21:49:46,180000.0,WEBS00000044909,20107072,2019-05-30,21:35:00,B10,4,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ (C13),ĐƠN,Thành viên,45000,Không
35470,10130052019B0192,emp005,2019-05-30 21:49:46,180000.0,WEBS00000044909,20107071,2019-05-30,21:35:00,B09,4,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ (C13),ĐƠN,Thành viên,45000,Không
35471,10130052019B0192,emp005,2019-05-30 21:49:46,180000.0,WEBS00000044909,20107069,2019-05-30,21:35:00,B07,4,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ (C13),ĐƠN,Thành viên,45000,Không
35472,12508052019B0036,emp007,2019-05-08 19:26:47,90000.0,WEBS00000046015,20077797,2019-05-08,19:15:00,C14,4,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không
35473,12508052019B0036,emp007,2019-05-08 19:26:47,90000.0,WEBS00000046015,20077796,2019-05-08,19:15:00,C13,4,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không

In [104]:
df = df.reset_index(drop=True)
df

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn
0,10006052019B0225,emp002,2019-05-06 16:40:43,90000.0,0000000014,20074925,2019-05-06,18:15:00,G04,3,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không
1,10006052019B0225,emp002,2019-05-06 16:40:43,90000.0,0000000014,20074924,2019-05-06,18:15:00,G03,3,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không
2,10022052019B0167,emp011,2019-05-22 20:30:28,90000.0,0000000034,20097042,2019-05-22,20:45:00,E04,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,Không
3,10022052019B0167,emp011,2019-05-22 20:30:28,90000.0,0000000034,20097041,2019-05-22,20:45:00,E03,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,Không
4,10130052019B0141,emp005,2019-05-30 19:28:44,90000.0,0000000034,20106761,2019-05-30,19:30:00,F04,1,NGÔI ĐỀN KỲ QUÁI (C18),ĐƠN,Thành viên,45000,Không
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35373,10130052019B0192,emp005,2019-05-30 21:49:46,180000.0,WEBS00000044909,20107072,2019-05-30,21:35:00,B10,4,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ (C13),ĐƠN,Thành viên,45000,Không
35374,10130052019B0192,emp005,2019-05-30 21:49:46,180000.0,WEBS00000044909,20107071,2019-05-30,21:35:00,B09,4,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ (C13),ĐƠN,Thành viên,45000,Không
35375,10130052019B0192,emp005,2019-05-30 21:49:46,180000.0,WEBS00000044909,20107069,2019-05-30,21:35:00,B07,4,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ (C13),ĐƠN,Thành viên,45000,Không
35376,12508052019B0036,emp007,2019-05-08 19:26:47,90000.0,WEBS00000046015,20077797,2019-05-08,19:15:00,C14,4,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không
35377,12508052019B0036,emp007,2019-05-08 19:26:47,90000.0,WEBS00000046015,20077796,2019-05-08,19:15:00,C13,4,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không

In [105]:
df["saledate"] = df["saledate"].astype(str)
df[["saledate", "saletime"]] = df["saledate"].str.split(expand=True)
df

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn,saletime
0,10006052019B0225,emp002,2019-05-06,90000.0,0000000014,20074925,2019-05-06,18:15:00,G04,3,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không,16:40:43
1,10006052019B0225,emp002,2019-05-06,90000.0,0000000014,20074924,2019-05-06,18:15:00,G03,3,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không,16:40:43
2,10022052019B0167,emp011,2019-05-22,90000.0,0000000034,20097042,2019-05-22,20:45:00,E04,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,Không,20:30:28
3,10022052019B0167,emp011,2019-05-22,90000.0,0000000034,20097041,2019-05-22,20:45:00,E03,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,Không,20:30:28
4,10130052019B0141,emp005,2019-05-30,90000.0,0000000034,20106761,2019-05-30,19:30:00,F04,1,NGÔI ĐỀN KỲ QUÁI (C18),ĐƠN,Thành viên,45000,Không,19:28:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35373,10130052019B0192,emp005,2019-05-30,180000.0,WEBS00000044909,20107072,2019-05-30,21:35:00,B10,4,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ (C13),ĐƠN,Thành viên,45000,Không,21:49:46
35374,10130052019B0192,emp005,2019-05-30,180000.0,WEBS00000044909,20107071,2019-05-30,21:35:00,B09,4,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ (C13),ĐƠN,Thành viên,45000,Không,21:49:46
35375,10130052019B0192,emp005,2019-05-30,180000.0,WEBS00000044909,20107069,2019-05-30,21:35:00,B07,4,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ (C13),ĐƠN,Thành viên,45000,Không,21:49:46
35376,12508052019B0036,emp007,2019-05-08,90000.0,WEBS00000046015,20077797,2019-05-08,19:15:00,C14,4,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không,19:26:47
35377,12508052019B0036,emp007,2019-05-08,90000.0,WEBS00000046015,20077796,2019-05-08,19:15:00,C13,4,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không,19:26:47

In [106]:
df = df.reindex(columns=['orderid', 'cashier', 'saledate', 'saletime', 'total', 'customerid', 'ticketcode', 'date'
                    , 'time', 'slot', 'room', 'film', 'slot type', 'ticket type', 'ticket price', 'popcorn'])
df

,orderid,cashier,saledate,saletime,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn
0,10006052019B0225,emp002,2019-05-06,16:40:43,90000.0,0000000014,20074925,2019-05-06,18:15:00,G04,3,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không
1,10006052019B0225,emp002,2019-05-06,16:40:43,90000.0,0000000014,20074924,2019-05-06,18:15:00,G03,3,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không
2,10022052019B0167,emp011,2019-05-22,20:30:28,90000.0,0000000034,20097042,2019-05-22,20:45:00,E04,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,Không
3,10022052019B0167,emp011,2019-05-22,20:30:28,90000.0,0000000034,20097041,2019-05-22,20:45:00,E03,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,Không
4,10130052019B0141,emp005,2019-05-30,19:28:44,90000.0,0000000034,20106761,2019-05-30,19:30:00,F04,1,NGÔI ĐỀN KỲ QUÁI (C18),ĐƠN,Thành viên,45000,Không
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35373,10130052019B0192,emp005,2019-05-30,21:49:46,180000.0,WEBS00000044909,20107072,2019-05-30,21:35:00,B10,4,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ (C13),ĐƠN,Thành viên,45000,Không
35374,10130052019B0192,emp005,2019-05-30,21:49:46,180000.0,WEBS00000044909,20107071,2019-05-30,21:35:00,B09,4,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ (C13),ĐƠN,Thành viên,45000,Không
35375,10130052019B0192,emp005,2019-05-30,21:49:46,180000.0,WEBS00000044909,20107069,2019-05-30,21:35:00,B07,4,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ (C13),ĐƠN,Thành viên,45000,Không
35376,12508052019B0036,emp007,2019-05-08,19:26:47,90000.0,WEBS00000046015,20077797,2019-05-08,19:15:00,C14,4,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không
35377,12508052019B0036,emp007,2019-05-08,19:26:47,90000.0,WEBS00000046015,20077796,2019-05-08,19:15:00,C13,4,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không

In [107]:
for x in df.columns:
    df = df.rename(columns={x : x.capitalize()})
df

,Orderid,Cashier,Saledate,Saletime,Total,Customerid,Ticketcode,Date,Time,Slot,Room,Film,Slot type,Ticket type,Ticket price,Popcorn
0,10006052019B0225,emp002,2019-05-06,16:40:43,90000.0,0000000014,20074925,2019-05-06,18:15:00,G04,3,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không
1,10006052019B0225,emp002,2019-05-06,16:40:43,90000.0,0000000014,20074924,2019-05-06,18:15:00,G03,3,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không
2,10022052019B0167,emp011,2019-05-22,20:30:28,90000.0,0000000034,20097042,2019-05-22,20:45:00,E04,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,Không
3,10022052019B0167,emp011,2019-05-22,20:30:28,90000.0,0000000034,20097041,2019-05-22,20:45:00,E03,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),ĐƠN,Thành viên,45000,Không
4,10130052019B0141,emp005,2019-05-30,19:28:44,90000.0,0000000034,20106761,2019-05-30,19:30:00,F04,1,NGÔI ĐỀN KỲ QUÁI (C18),ĐƠN,Thành viên,45000,Không
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35373,10130052019B0192,emp005,2019-05-30,21:49:46,180000.0,WEBS00000044909,20107072,2019-05-30,21:35:00,B10,4,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ (C13),ĐƠN,Thành viên,45000,Không
35374,10130052019B0192,emp005,2019-05-30,21:49:46,180000.0,WEBS00000044909,20107071,2019-05-30,21:35:00,B09,4,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ (C13),ĐƠN,Thành viên,45000,Không
35375,10130052019B0192,emp005,2019-05-30,21:49:46,180000.0,WEBS00000044909,20107069,2019-05-30,21:35:00,B07,4,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ (C13),ĐƠN,Thành viên,45000,Không
35376,12508052019B0036,emp007,2019-05-08,19:26:47,90000.0,WEBS00000046015,20077797,2019-05-08,19:15:00,C14,4,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không
35377,12508052019B0036,emp007,2019-05-08,19:26:47,90000.0,WEBS00000046015,20077796,2019-05-08,19:15:00,C13,4,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không

In [108]:
gk = df.groupby("Film")
gk.count()

,Orderid,Cashier,Saledate,Saletime,Total,Customerid,Ticketcode,Date,Time,Slot,Room,Slot type,Ticket type,Ticket price,Popcorn
Film,,,,,,,,,,,,,,,
(LT) DORAEMON: NOBITA VÀ MẶT TRĂNG PHIÊU LƯU KÝ (G),922,922,922,922,922,922,922,922,922,922,922,922,922,922,922
(PĐ) DORAEMON: NOBITA VÀ MẶT TRĂNG PHIÊU LƯU KÝ (G),49,49,49,49,49,49,49,49,49,49,49,49,49,49,49
ALADDIN (LT) (G),1224,1224,1224,1224,1224,1224,1224,1224,1224,1224,1224,1224,1224,1224,1224
ALADDIN (PD) (G),1268,1268,1268,1268,1268,1268,1268,1268,1268,1268,1268,1268,1268,1268,1268
AVENGERS: HỒI KẾT,7309,7309,7309,7309,7309,7309,7309,7309,7309,7309,7309,7309,7309,7309,7309
CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ (C13),1457,1457,1457,1457,1457,1457,1457,1457,1457,1457,1457,1457,1457,1457,1457
CORGI: NHỮNG CHÚ CHÓ HOÀNG GIA (LT),4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
CÀ CHỚN ANH ĐỪNG ĐI,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117
JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH (C18),3113,3113,3113,3113,3113,3113,3113,3113,3113,3113,3113,3113,3113,3113,3113
LẬT MẶT: NHÀ CÓ KHÁCH,613,613,613,613,613,613,613,613,613,613,613,613,613,613,613
MẸ MA THAN KHÓC LA LLORONA (C18),9628,9628,9628,9628,9628,9628,9628,9628,9628,9628,9628,9628,9628,9628,9628
NGÔI ĐỀN KỲ QUÁI (C18),3777,3777,3777,3777,3777,3777,3777,3777,3777,3777,3777,3777,3777,3777,3777
NỤ HÔN MA QUÁI (C18),175,175,175,175,175,175,175,175,175,175,175,175,175,175,175
POKÉMON: THÁM TỬ PIKACHU (C13),2832,2832,2832,2832,2832,2832,2832,2832,2832,2832,2832,2832,2832,2832,2832
QUÝ CÔ LỪA ĐẢO,252,252,252,252,252,252,252,252,252,252,252,252,252,252,252
THẰNG EM LÝ TƯỞNG,704,704,704,704,704,704,704,704,704,704,704,704,704,704,704
VÔ GIAN ĐẠO (C18),429,429,429,429,429,429,429,429,429,429,429,429,429,429,429
VỢ BA,502,502,502,502,502,502,502,502,502,502,502,502,502,502,502
ƯỚC HẸN MÙA THU,1003,1003,1003,1003,1003,1003,1003,1003,1003,1003,1003,1003,1003,1003,1003

In [109]:
df['Film'] = df['Film'].str.replace("DORAEMON: NOBITA VÀ MẶT TRĂNG PHIÊU LƯU KÝ", "Doraemon: Nobita's Chronicle of the Moon Exploration")
df['Film'] = df['Film'].str.replace("AVENGERS: HỒI KẾT", "Marvel Studios' Avengers: Endgame")
df['Film'] = df['Film'].str.replace("CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ", "Godzilla: King of the Monsters")
df['Film'] = df['Film'].str.replace("CORGI: NHỮNG CHÚ CHÓ HOÀNG GIA", "The Queen's Corgi")
df['Film'] = df['Film'].str.replace("JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH", "John Wick: Chapter 3 – Parabellum")
df['Film'] = df['Film'].str.replace("MẸ MA THAN KHÓC LA LLORONA", "The Curse Of La Llorona")
df['Film'] = df['Film'].str.replace("NGÔI ĐỀN KỲ QUÁI", "Pee Nak")
df['Film'] = df['Film'].str.replace("NỤ HÔN MA QUÁI", "Krasue: Inhuman Kiss")
df['Film'] = df['Film'].str.replace("POKÉMON: THÁM TỬ PIKACHU", "Pokémon Detective Pikachu")
df['Film'] = df['Film'].str.replace("QUÝ CÔ LỪA ĐẢO", "The Hustle")
df['Film'] = df['Film'].str.replace("THẰNG EM LÝ TƯỞNG", "Inseparable Bros")
df['Film'] = df['Film'].str.replace("VÔ GIAN ĐẠO", "Infernal Affairs")
#Remove accents
df["Film"] = df["Film"].apply(remove_diacritics)
#Make all letters to uppercase
df["Film"] = df["Film"].apply(to_uppercase)
#gk = df.groupby("Film")
#gk.count()

In [110]:
gk = df.groupby('Slot type')
gk.count()

,Orderid,Cashier,Saledate,Saletime,Total,Customerid,Ticketcode,Date,Time,Slot,Room,Film,Ticket type,Ticket price,Popcorn
Slot type,,,,,,,,,,,,,,,
ĐÔI,1406,1406,1406,1406,1406,1406,1406,1406,1406,1406,1406,1406,1406,1406,1406
ĐƠN,33972,33972,33972,33972,33972,33972,33972,33972,33972,33972,33972,33972,33972,33972,33972

In [111]:
df['Slot type'] = df['Slot type'].str.replace("ĐƠN", "SINGLE")
df['Slot type'] = df['Slot type'].str.replace("ĐÔI", "COUPLE")
#df

In [112]:
gk = df.groupby('Ticket type')
gk.count()

,Orderid,Cashier,Saledate,Saletime,Total,Customerid,Ticketcode,Date,Time,Slot,Room,Film,Slot type,Ticket price,Popcorn
Ticket type,,,,,,,,,,,,,,,
Thành viên,35378,35378,35378,35378,35378,35378,35378,35378,35378,35378,35378,35378,35378,35378,35378

In [113]:
df["Ticket type"] = df["Ticket type"].str.replace("Thành viên", "Member")
#gk = df.groupby('Ticket type')
#gk.count()

In [114]:
gk = df.groupby('Popcorn')
gk.count()

,Orderid,Cashier,Saledate,Saletime,Total,Customerid,Ticketcode,Date,Time,Slot,Room,Film,Slot type,Ticket type,Ticket price
Popcorn,,,,,,,,,,,,,,,
Có,91,91,91,91,91,91,91,91,91,91,91,91,91,91,91
Không,35287,35287,35287,35287,35287,35287,35287,35287,35287,35287,35287,35287,35287,35287,35287

In [115]:
df["Popcorn"] = df["Popcorn"].str.replace("Có", "Yes")
df["Popcorn"] = df["Popcorn"].str.replace("Không", "No")
#gk = df.groupby("Popcorn")
#gk.count()
df

,Orderid,Cashier,Saledate,Saletime,Total,Customerid,Ticketcode,Date,Time,Slot,Room,Film,Slot type,Ticket type,Ticket price,Popcorn
0,10006052019B0225,emp002,2019-05-06,16:40:43,90000.0,0000000014,20074925,2019-05-06,18:15:00,G04,3,MARVEL STUDIOS' AVENGERS: ENDGAME,SINGLE,Member,45000,No
1,10006052019B0225,emp002,2019-05-06,16:40:43,90000.0,0000000014,20074924,2019-05-06,18:15:00,G03,3,MARVEL STUDIOS' AVENGERS: ENDGAME,SINGLE,Member,45000,No
2,10022052019B0167,emp011,2019-05-22,20:30:28,90000.0,0000000034,20097042,2019-05-22,20:45:00,E04,2,JOHN WICK: CHAPTER 3 – PARABELLUM (C18),SINGLE,Member,45000,No
3,10022052019B0167,emp011,2019-05-22,20:30:28,90000.0,0000000034,20097041,2019-05-22,20:45:00,E03,2,JOHN WICK: CHAPTER 3 – PARABELLUM (C18),SINGLE,Member,45000,No
4,10130052019B0141,emp005,2019-05-30,19:28:44,90000.0,0000000034,20106761,2019-05-30,19:30:00,F04,1,PEE NAK (C18),SINGLE,Member,45000,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35373,10130052019B0192,emp005,2019-05-30,21:49:46,180000.0,WEBS00000044909,20107072,2019-05-30,21:35:00,B10,4,GODZILLA: KING OF THE MONSTERS (C13),SINGLE,Member,45000,No
35374,10130052019B0192,emp005,2019-05-30,21:49:46,180000.0,WEBS00000044909,20107071,2019-05-30,21:35:00,B09,4,GODZILLA: KING OF THE MONSTERS (C13),SINGLE,Member,45000,No
35375,10130052019B0192,emp005,2019-05-30,21:49:46,180000.0,WEBS00000044909,20107069,2019-05-30,21:35:00,B07,4,GODZILLA: KING OF THE MONSTERS (C13),SINGLE,Member,45000,No
35376,12508052019B0036,emp007,2019-05-08,19:26:47,90000.0,WEBS00000046015,20077797,2019-05-08,19:15:00,C14,4,MARVEL STUDIOS' AVENGERS: ENDGAME,SINGLE,Member,45000,No
35377,12508052019B0036,emp007,2019-05-08,19:26:47,90000.0,WEBS00000046015,20077796,2019-05-08,19:15:00,C13,4,MARVEL STUDIOS' AVENGERS: ENDGAME,SINGLE,Member,45000,No

In [125]:
df

,Orderid,Cashier,Saledate,Saletime,Total,Customerid,Ticketcode,Date,Time,Slot,Room,Film,Slot type,Ticket type,Ticket price,Popcorn
0,10006052019B0225,emp002,2019-05-06,16:40:43,90000.0,0000000014,20074925,2019-05-06,18:15:00,G04,3,MARVEL STUDIOS' AVENGERS: ENDGAME,SINGLE,Member,45000,No
1,10006052019B0225,emp002,2019-05-06,16:40:43,90000.0,0000000014,20074924,2019-05-06,18:15:00,G03,3,MARVEL STUDIOS' AVENGERS: ENDGAME,SINGLE,Member,45000,No
2,10022052019B0167,emp011,2019-05-22,20:30:28,90000.0,0000000034,20097042,2019-05-22,20:45:00,E04,2,JOHN WICK: CHAPTER 3 – PARABELLUM (C18),SINGLE,Member,45000,No
3,10022052019B0167,emp011,2019-05-22,20:30:28,90000.0,0000000034,20097041,2019-05-22,20:45:00,E03,2,JOHN WICK: CHAPTER 3 – PARABELLUM (C18),SINGLE,Member,45000,No
4,10130052019B0141,emp005,2019-05-30,19:28:44,90000.0,0000000034,20106761,2019-05-30,19:30:00,F04,1,PEE NAK (C18),SINGLE,Member,45000,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35373,10130052019B0192,emp005,2019-05-30,21:49:46,180000.0,WEBS00000044909,20107072,2019-05-30,21:35:00,B10,4,GODZILLA: KING OF THE MONSTERS (C13),SINGLE,Member,45000,No
35374,10130052019B0192,emp005,2019-05-30,21:49:46,180000.0,WEBS00000044909,20107071,2019-05-30,21:35:00,B09,4,GODZILLA: KING OF THE MONSTERS (C13),SINGLE,Member,45000,No
35375,10130052019B0192,emp005,2019-05-30,21:49:46,180000.0,WEBS00000044909,20107069,2019-05-30,21:35:00,B07,4,GODZILLA: KING OF THE MONSTERS (C13),SINGLE,Member,45000,No
35376,12508052019B0036,emp007,2019-05-08,19:26:47,90000.0,WEBS00000046015,20077797,2019-05-08,19:15:00,C14,4,MARVEL STUDIOS' AVENGERS: ENDGAME,SINGLE,Member,45000,No
35377,12508052019B0036,emp007,2019-05-08,19:26:47,90000.0,WEBS00000046015,20077796,2019-05-08,19:15:00,C13,4,MARVEL STUDIOS' AVENGERS: ENDGAME,SINGLE,Member,45000,No

In [126]:
df["Date"] = df["Date"].astype(str)

In [127]:
df.to_excel('D:\\output2.xlsx')